logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
services.js
services.js.map
masterPage.js
masterPage.js.map
classes.js.map
classes.js
script.js
script.js.map
MasterPageController.js.map
MasterPageController.js
app/masterPage/TextFilter.js
app/masterPage/TextFilter.js.map
