/* app css stylesheet */

body {
  background-image: url("symphony.png");
  background-repeat: repeat;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.list-box {
  background-color: #EEE;
  border-color: #DDD
  border-radius: 5px; 
  border-width: 1px;

  box-shadow: 0px 1px 3px #333;
  -webkit-box-shadow: 0px 0px 15px #333;
  -moz-box-shadow:    0px 0px 15px #333;
}

// Visualization

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

// Block cards

.card-grid {
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card-grid block-card {
     position: relative;
    background-color: white;
    width: 200px;
    
    box-shadow: 0px 1px 3px #888;
    -webkit-box-shadow: 0px 0px 15px #888;
    -moz-box-shadow:    0px 0px 15px #888;
    
    display: inline-block;
        
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 20px;
    padding: 5px;
}

.card-grid block-card .arrow-right {
    right: 0px;
    top: 0px;
    
    position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  transform-origin: -20% 25%;
  
  border-left: 30px solid #444;
  
    transform: rotate(-45deg);
}
