<layout>
  <div class="container" ng-controller="MasterPageCtrl as master">
    <div class="row">
      <div class="col-md-1 col-md-offset-1 side-bar">
        <button type="button" ng-click="master.previousTen()" class="btn btn-default previous-button"> <- 10</button>
      </div>
      <div class="col-md-8">
        <div class="alert alert-danger" role="alert" ng-hide="master.errorMessage === ''">{{master.errorMessage}}</div>
        <input type="text" name="filter" ng-model="master.filterText" ng-change="master.filterTextChanged()">
        <table class="table" ng-show="master.errorMessage === '' && master.rawBlocks.length > 0">
          <tr><th>Number</th><th>Hash</th></tr>
          <tr ng-repeat="block in master.rawBlocks | blockHashFilter: master.filterText">
            <td><a href="#/block/{{block.hash}}">{{ $index + 1 }}</a></td><td><a href="#/block/{{block.hash}}">{{ block.hash }}</a></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</layout>