<layout>
  <div class="container" ng-controller="MasterPageController as master">
    <div class="row">
      <div class="col-md-1 col-md-offset-1 side-bar">
        <button type="button" ng-click="master.previousTen()" class="btn btn-default previous-button"> <- 10</button>
      </div>
      <div class="col-md-8">
        <div class="alert alert-danger" role="alert" ng-hide="master.errorMessage === ''">{{master.errorMessage}}</div>
        <input type="text" name="filter" ng-model="master.filterText" ng-change="master.filterTextChanged()">
        <div class ="card-grid" ng-show="master.errorMessage === '' && master.rawBlocks.length > 0">
          <block-card raw-block="block" ng-repeat="block in master.rawBlocks | blockHashFilter: master.filterText">
        </div>
      </div>
    </div>
  </div>
</layout>