<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Block Explorer</a>
        </div>

        <form class="navbar-form navbar-right search-box" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container" ng-controller="MasterPageCtrl as master">
  <div class="row">
    <div class="col-md-1 col-md-offset-1 side-bar">
      <button type="button" ng-click="master.previousTen()" class="btn btn-default previous-button"> <- 10</button>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr><th>Number</th><th>Hash</th></tr>
        <tr ng-repeat="block in master.rawBlocks track by $index">
          <td><a href="#/block/{{block.hash}}">{{ $index + 1 }}</a></td><td><a href="#/block/{{block.hash}}">{{ block.hash }}</a></td>
          </tr>
      </table>
  </div>
</div>
